
<h2 mat-dialog-title>Querying Tutorial</h2>
<div mat-dialog-content>
    <p>
        The purpose of this tool is to enable users to find regular expressions
        for reuse. To find a regular expression that fits your use case, simply
        search for one.
    </p>
    <p>
        To search for a regular expression, provide positive and negative examples
        that any regular expression should match. Positive strings are ones that
        a regular expression should match. Negative examples are strings the regular
        expression should <i>not</i> match. When searching, put a string in each
        input box in the positive section. Each input box should have one string in it.
        To add new boxes, hit the plus button. To remove an example, hit the minus
        button in the input box. Do the same for negative examples. Once you have
        all of your query strings, hit the query button.
    </p>
    <p>
        Query results will appear in the results box. Clicking on an example will
        copy the regex to your clipboard.
    </p>
</div>
<div mat-dialog-actions>
    <button mat-raised-button mat-dialog-close color="primary">CLOSE</button>
</div>
