
.query-page {
  display: flex;
  justify-content: space-evenly;
  padding: 32px;

  .title-box {
    display: flex;
  }

  .query-child-page {
    width: 45%;
  }

  .query-inputs-panel {
    @extend .query-child-page
  }

  .query-results {
    @extend .query-child-page
  }

  .query-button {
    width: 100%;
  }

  .help-btn {
    margin-left: 16px;
  }
}
